html{
    font-family: "Roboto";
    --black:#000000;
    --white:#ECECEC;
    --blue:#2196F3;
    --black2:#212121;
    --white2:#FFFFFF;
    --grey:#757575;
    --blue2:#188CE8;
    --black3:#2F303A;
    --grey2:#F5F4FA;
    
}
header{
    font-weight: 500;
}
a {
    color: black;
}
a:hover {
    color: blue;
}
div {
    background-color: #2F303A;
}
h1 {
    color: white;
    font-weight: 900;
}
button {
    background-color: blue;
    color: white;
    font-weight: 700;
}
h4 {
    font-weight: 700;
}
p {
    font-weight: 400;
}
h2 {
    font-weight: 700;
}
h3 {
    font-weight: 700;
}
h5 {
    font-weight: 500;
}
footer {
    background-color: #2F303A;
    font-weight: 400;
    color: white;
}

