:root {
    --black:#000000;
    --white:#ECECEC;
    --blue:#2196F3;
    --black2:#212121;
    --white2:#FFFFFF;
    --grey:#757575;
    --blue2:#188CE8;
    --black3:#2F303A;
    --grey2:#F5F4FA;
}
.container {
    width: 1170px;
    margin: 0px auto;
    padding: 0 15px;
}
html{
    font-family: "Roboto";  
}
.header{
    font-weight: 500;
    font-size: 14px;
    line-height: 1.17;
}
.header-list__item-link {
    color: var(--black2);
}
.header-list__item-link:hover {
    color: var(--blue);
}
.header-block {
    background-color: var(--black3);
}
.header-block__h1 {
    color: var(--white);
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
}
.header-block__button {
    background-color: var(--blue);
    color: var(--white);
    font-weight: 700;
    font-size: 16px;
    line-height: 1.36;
}
.benefits-table__h4 {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.17;
}
.benefits-table__p {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
}
.services-block__h2 {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
}
.team-block__h2 {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
}
.team-block__h4 {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.17;
}
.team-block__p {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.17;
}
.team-block {
    background-color: var(--grey2);
}
footer {
    background-color: var(--black3);
    font-weight: 400;
    color: var(--white2);
    font-size: 14px;
}

