:root {
    --black:#000000;
    --white:#ECECEC;
    --blue:#2196F3;
    --black2:#212121;
    --white2:#FFFFFF;
    --grey:#757575;
    --blue2:#188CE8;
    --black3:#2F303A;
    --grey2:#F5F4FA;
}
html{
    font-family: "Roboto";  
}
header{
    font-weight: 500;
    font-size: 14px;
}
a {
    color: var(--black2);
}
a:hover {
    color: var(--blue);
}
div {
    background-color: var(--black3);
}
h1 {
    color: var(--white);
    font-weight: 900;
    font-size: 44px;
}
button {
    background-color: var(--blue);
    color: var(--white);
    font-weight: 700;
    font-size: 16px;
}
h4 {
    font-weight: 700;
    font-size: 14px;
}
p {
    font-weight: 400;
    font-size: 14px;
}
h2 {
    font-weight: 700;
    font-size: 36px;
}

h4 {
    font-weight: 500;
    font-size: 16px;
}
footer {
    background-color: var(--black3);
    font-weight: 400;
    color: var(--white2);
    font-size: 14px;
}

